In [40]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [41]:
df = pd.read_csv('../data/interim/house_prices_cleaned.csv')
df.shape

(6076, 5)

In [42]:
df.sample(5)

         location  total_sqft  bath  price  bhk
5975        other      1100.0   2.0   58.5    2
5111        other       530.0   1.0   20.0    1
5234        other      1550.0   2.0  150.0    3
3152  Mahadevpura      1152.0   2.0   54.0    2
4252    TC Palaya      1100.0   2.0   65.0    2

Applying one-hot encoding on location attribute

In [43]:
# creating the dummy variable and dropping the last column for preventing dummy trap
dummy = pd.get_dummies(df['location'])\
          .drop('other', axis=1)

# joining it back to the original dataframe
print(df.shape)
df = pd.concat([df, dummy], axis=1)\
        .drop('location', axis=1)
print(df.shape)
df.head()

(6076, 5)
(6076, 197)

,total_sqft,bath,price,bhk,Devarachikkanahalli,1st Phase JP Nagar,5th Phase JP Nagar,6th Phase JP Nagar,7th Phase JP Nagar,8th Phase JP Nagar,...,Vasanthapura,Vidyaranyapura,Vijayanagar,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur
0,1170.0,2.0,40.0,2,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,1425.0,2.0,65.0,3,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,947.0,2.0,43.0,2,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,1417.0,2.0,76.0,3,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,1230.0,2.0,58.0,2,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

# Splitting the data

In [44]:
# creating independent and dependent variable
X = df.drop('price', axis=1)
y = df['price']
# splitting the data into train and test
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2,random_state=10)

In [45]:
# creating a linear model
model = LinearRegression()
# training the model using training data
model.fit(X_train,y_train)
# checking the R^2 score
model.score(X_test,y_test)

0.9096263176941511